.color-palette {

}

.color {
    border: 1px solid black;
    width: 100px;
    display: inline-block;
}

#color-1 {
    background-color: black;
}

#color-2 {
    background-color: purple;
}

#color-3 {
    background-color: blueviolet;
}

#color-4 {
    background-color: rgb(168, 53, 53);
}

#pixel-board {
    
}

.pixel {
    background-color: white;
}
